@model RoleViewModel
<div>
 
    @* Role Name input *@
    <div class="hide">
        <label class="col-form-label" asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

   
 

</div>