
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Department
<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input type="text" asp-for="Code" class="form-control" readonly />

</div>
<div>
    <label class="col-form-label" asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" readonly />

</div>
<div>
    <label class="col-form-label" asp-for="DateOfCreation"></label>
    <input asp-for="DateOfCreation" class="form-control" readonly />
</div>