@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete this department ?!</h1>
<br />
<br />

<form asp-action="Delete" asp-route-id="@Model.Id">
   
    <partial name="PartialViews/DeleteDetailsDepartmentPartial"></partial>
    <input type ="submit" value="Delete" class="btn btn-danger mt-4" />
    <a asp-action="index" class="btn btn-warning mt-4">Cancel</a>

</form>


