@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />
<div>
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" readonly />

    </div>
    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input asp-for="DateOfCreation" class="form-control" readonly />
    </div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-4">Edit</a>
    <a asp-action="index"  class="btn btn-light mt-4">Back To List</a>
</div>
