
@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>
<br />
<br />
<form asp-action="Create">
    <partial name="PartialViews/CreateEditEmployeePartial"></partial>
    <input type="submit" value="Create" class="btn btn-primary mt-4" />
    <a asp-action="index" class="btn btn-light mt-4">Back To List</a>

</form>


@section ValidateSection
{
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 *@

    <partial name="_ValidationScriptsPartial"></partial>
}
