@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />
<div>
    <partial name="PartialViews/DeleteDetailsEmployeePartial"></partial>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-4">Edit</a>
    <a asp-action="index"  class="btn btn-light mt-4">Back To List</a>
</div>
